.link {
    text-decoration: none;
    color: #dad7d7;
    padding-left: 10px;
}

.link:hover {
    color: #ffffff;
}

.active {
    text-decoration: none;
    padding-left: 10px;
    color: #04defa;
}

.header {
    display: flex;
    margin-top: 10px;
    width: 500px;
    align-items: center;
}



