.link {
    text-decoration: none;
    color: #dad7d7;
    padding-left: 10px;
}

.link:hover {
    color: #ffffff;
}

.active {
    text-decoration: none;
    padding-left: 10px;
    color: #04defa;
}

.header {
    display: flex;
    margin-top: 10px;
    width: 500px;
    align-items: center;
    /*transition-duration: 900ms;*/
    /*transform: translate(-225px);*/
    /*transition-delay: 1s;*/
}

/*.header:hover {*/
/*    transition-duration: 900ms;*/
/*    transform: translate(0);*/
/*    transition-delay: .0s*/
/*}*/

/*
.menu {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-image: url("menu.png");
}

*/

