
.avatar {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar > img {
    width: 100%;
    height: 100%;
}
.avatar > svg {
    fill:#ffffff;
}