.default {
    padding: 2px 10px;
    min-width: 22px;
    min-height: 22px;
    height: 30px;
    outline: none;
    margin: 5px;
    color: #dcd9d9;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s linear;
    background: rgb(69, 139, 245);
    border-top: 1px solid rgba(255, 255, 255, 0.83);
    border-bottom: 1px solid rgba(255, 255, 255, 0.83);
}

.default:active {
    border-top: 1px solid rgba(59, 57, 57, 0.83);
    border-bottom: 1px solid rgb(59, 57, 57, 0.83);
    transition: .1s linear;
}

.default:hover {
    background: #1762EE;
}

.default:disabled {
    background: rgba(255, 255, 255, .2);
    border-top: 1px solid rgba(59, 57, 57, 0.83);
    border-bottom: 1px solid rgb(59, 57, 57, 0.83);
    cursor: auto;
}

.disabled:hover {
    background: rgba(255, 255, 255, .2);
}

.red {
    background: #f16969;
}

.red:hover {
    background: #ff0000;
}

.green {
    background: rgba(104, 182, 81, 0.76);
}

.green:hover {
    background: #3b6b00;
}

.orange {
    background: rgba(245, 168, 107, 0.76);
}

.orange:hover {
    background: rgba(239, 140, 4, 0.76);
}



