@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.packRow {
  border-bottom: 1px solid $borderColor;

  & > td {
    padding: 2px 15px;
    font-size: 13px;
    border-bottom: 1px solid $borderColor;
  }

  .nameCol {

  }

  .cardsCountCol {

  }

  .updatedCol {

  }

  .userNameCol {

  }

  .actions {
    .actionsRow {
      display: flex;
      justify-content: space-around;

      button {
        margin-right: 10px;
      }

      .actionsCol {
        .learnButton {
          background-color: $success;
          color: #ffffff;

          &:hover {
            background-color: #3D8B40;
          }
        }

        .editButton {

        }

        .deleteButton {
          background-color: $danger;
          color: #ffffff;

          &:hover {
            background-color: #942A25;
          }
        }
      }

    }


  }

}