@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.newPasswordBlock {
    @include block();

    .newPasswordContainer {
        @include container();

        .logo {
            @include logo();
        }

        .form {
            @include form();
            p {
                margin: 0 0 20px 0;
            }
            h3 {
                width: 300px;
                text-align: center;
                color: $success;
            }
            .loginLink {
                @include primaryLink();
            }
            .buttons {
                @include formButtonBlock();
            }
        }
    }
}


