@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.loginBlock {
  @include block();

  .loginContainer {
    @include container();


    .logo {
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      .title {
        span {
          margin-left: 10px;
          letter-spacing: .4em;
          font-style: italic;
        }
      }

      h1 {
        margin: 0;
        line-height: .8;
        font-size: 60px;
        font-family: 'Yellowtail', cursive;
      }
    }

    .form {
      @include form();

      .checkboxField {
        margin-bottom: 20px;
        align-self: flex-start;
      }

      .loginButtonBlock {
        @include formButtonBlock();
      }
    }

    .passwordLink {
      @include primaryLink();
    }

    .registerLink {
      font-size: 14px;
      text-decoration: none;
      color: $textColor;
      margin-top: 10px;
      transition: all .4s ease;

      &:hover {
        color: $primary;
        transition: all .3s ease;
      }
    }
  }
}


