@import 'src/ui/common/styles/variables';

.loginBlock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $mainBGC;

  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    padding: 30px 50px;

    .logo {
      width: 170px;
      height: 110px;
      margin-bottom: 30px;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      .inputField {
        margin-bottom: 20px;
      }
      .checkboxField {
        margin-bottom: 20px;
        align-self: flex-start;
      }
      .loginButtonBlock {
        height: 50px;
      }
    }

    .passwordLink {
      margin: 10px 0 0;
      font-weight: 500;
      color: $primary;
      text-decoration: none;
      transition: all .4s ease;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
        transition: all .4s ease;
      }
    }

    .registerLink {
      font-size: 14px;
      text-decoration: none;
      color: $textColor;
      margin-top: 10px;
      transition: all .4s ease;

      &:hover {
        color: $primary;
        transition: all .3s ease;
      }
    }
  }
}


