.loginBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgba(52, 63, 156, 0.97);
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    background: rgba(214, 232, 216, 0.38);;
    height: 550px;
    width: 450px;
    box-shadow: 0 4px 12px rgba(172, 170, 170, 0.82);
}

.logo {
    margin-top: 40px;
    width: 170px;
    height: 110px;
}

.form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.button:hover {
    color: rgb(55,68,156);
}

