.packsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.packsContainer {
    display: flex;
    border-radius: 4px;
    background: rgba(214, 232, 216, 0.38);;
    min-height: 550px;
    width: 900px;
    box-shadow: 0 4px 12px rgba(172, 170, 170, 0.82);
}

.settingsBlock {
    width: 20%;
    height: 100%;
}
.doubleRangeContainer {
}
.contentBlock{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.searchBlock{
    display: flex;
    height: 100px;
}

.tableBlock{
    height: 100%;
}
.tableHeader{
    display: flex;
    align-items: center;
    height: 30px;
}

.paginationBlock{
    height: 50px;
}
.name {
    width: 200px;
    cursor: pointer;
}

.cards {
    width: 100px;
    cursor: pointer;
}

.when {
    width: 120px;
    cursor: pointer;
}

