@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.packsWrapper {
  background-color: $mainBGC;
  min-height: calc(100vh - 63px);
  padding: 10px 40px;

  .packsContainer {

    .settingsBlock {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 15px;
      font-size: 14px;

      h4 {
        margin: 0 10px 0 0;
      }

      .radioBlock {
        display: flex;
        align-items: center;

        label {
          font-size: 13px;
        }

      }

      .doubleRangeBlock {
        display: flex;

        .doubleRange {
          width: 150px;
          margin: 0 50px 0 40px;
        }

        h4 {
          margin: 0;
          align-self: flex-start;

        }
      }

      .inputBlock {
        display: flex;
        align-items: center;
        width: calc(90vw - 590px);
        min-width: 200px;

        span {
          font-weight: bold;
        }

        .input {
        }
      }

      .button {
        margin-left: auto;

        .primaryButton {
          background-color: $primary;
          color: #ffffff;

          &:hover {
            background-color: #128EF2;
          }
        }
      }
    }

    .tableBlock {
      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 0;

        thead {
          tr {
            th {
              color: $primary;
              font-size: 15px;
              text-align: left;
              padding: 0 15px 10px 15px;
              border-bottom: 2px solid $borderColor;
              &:hover {
                cursor: pointer;
              }
            }

            .nameCol {

            }

            .cardsCountCol {

            }

            .updatedCol {

            }

            .userNameCol {

            }
            .actions {
              width: 280px;
              &:hover {
                cursor: default;
              }
            }
          }
        }
      }
    }
    .paginationBlock {
      margin: 20px 0;
    }
  }

}
