@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.selectWrapper {
    position: relative;
}

.selectValue:focus{
    outline: none;
}

.selectWrapper:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    right: 10px;
    top: 30%;
    transform: rotate(45deg);
    background-image: linear-gradient(to bottom right, #ffffff 50%, transparent 50%);
    transition: .3s ease;
}

.selectValueWrapper {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.00938em;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    border: 1px solid $borderColor;
    width: 100%;
    transition:all .3s ease;
    position: relative;
}

.selectValueWrapper:hover {
    border: 1px solid #cfcfcf;
    transition: all 0.3s ease;
}
.selectValue {
    appearance: none;
    background-color: rgb(255, 255, 255);
    min-height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.00938em;
    border: 0;
    box-sizing: content-box;
    background: none;
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px 15px 8px 6px;
    color:$secondTextColor;
    font-size: 14px;
    &:hover {
        color: $primary;
    }
}