@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.selectControl {
    display: block;
    width: 100%;
    height: 36px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f7f7f7;
    background-image: none;
    border: 1px solid #efefef;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    cursor:pointer;
    font-weight: bold;
    &:focus {
        border-color: #dfdfdf;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 223, 223, 0.6);
    }
}