.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagesToBack,.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagesToBack,
.pagesToForward,
.firstPage,
.lastPage {
    color: #3CEFFF;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    border: 1px solid #3CEFFF;
    letter-spacing: .1em;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(60, 239, 255, 0.2);
    padding: 5px;
}

.pagesToBack:hover,
.pagesToForward:hover,
.firstPage:hover,
.lastPage:hover {
    color: #FC2F70;
    border: 1px solid #FC2F70;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(252, 47, 112, 0.2);
    border-radius: 15px;
}

.pagesToBack,
.firstPage {
    margin-left: 10px;
}

.pagesToForward,
.lastPage {
    margin-right: 10px;
}


.paginator .pageNumber {
    display: block;
    min-width: 20px;
    text-align: center;
    color: #3CEFFF;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #3CEFFF;
    transition: all 0.5s ease;
    box-shadow: 0 0 15px rgba(60, 239, 255, 0.2);
}

.paginator .pageNumber:hover {
    border: 1px solid #FC2F70;
    transition: all 0.5s ease;
    color: #FC2F70;
    box-shadow: 0 0 15px rgba(252, 47, 112, 0.2);
    border-radius: 10px;
}

.paginator .pageNumber.selectedPageNumber {
    border: 1px solid #FC2F70;
    font-size: 1em;
    cursor: pointer;
    background-color: #FC2F70;
    transition: all 0.1s ease;
    color: #090821;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(252, 47, 112, 0.3);
    border-radius: 10px;
}

.paginator .threeDots:hover {
    cursor: default;
    border: none;
    box-shadow: none;
}

.paginator .threeDots {
    cursor: default;
    border: none;
}
.pagesToForward,
.firstPage,
.lastPage {
    color: white;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    letter-spacing: .1em;
    transition: all 0.5s ease;
}
.pagesToBack:hover,
.pagesToForward:hover,
.firstPage:hover,
.lastPage:hover {
    background-color: #ffbf47;
    border:1px solid #ffbf47;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.pagesToBack,
.firstPage {
    margin-left: 10px;
}
.pagesToForward,
.lastPage {
    margin-right: 10px;
}


.paginator span {
    display: block;
    min-width: 20px;
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 0 .1em;
    border-radius: 15px;
    border: 1px solid tomato;
    transition: all 0.5s ease;
}
.paginator span:hover {
    border: 1px solid #ffbf47;
    transition: all 0.5s ease;
}
.selectedPage {
    border :1px solid #ffbf47;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    background-color: #ffbf47;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.paginator .threeDots:hover {
    cursor: default;
    border: none;
    box-shadow:none;
}
.paginator .threeDots {
    cursor: default;
    border: none;
}