@import 'src/ui/common/styles/variables';

.checkbox {
  display: inline-block;
  margin-bottom: 0;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;

    & + label span.checkboxIcon:after {
      position: absolute;
      top: 2px;
      left: 1px;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      content: '';
      display: block;
      width: 4px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      -webkit-transform: scale(0.5) rotate(45deg);
      transform: scale(0.5) rotate(45deg);
      -webkit-transition: all 0.35s cubic-bezier(0.3, -0.41, 0.19, 2), opacity 0.3s;
      transition: all 0.35s cubic-bezier(0.3, -0.41, 0.19, 2), opacity 0.3s;
    }

    &:checked + label span.checkboxIcon {
      border-color: $primary;
      background-color: $primary;
    }

    &:checked + label span.checkboxIcon:after {
      -webkit-transform: scale(1) rotate(45deg);
      transform: scale(1) rotate(45deg);
      opacity: 1;
    }
  }

  label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    line-height: 25px;
    font-size: 16px;
    color: $textColor;

    span.checkboxIcon {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid #b4b4b4;
      height: 16px;
      width: 16px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      border-radius: 4px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}

