@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.aboutBlock {
  @include block();
  margin-top: 0;
  padding: 20px;
  min-height: calc(100vh - 80px);

  .aboutContainer {
    @include container();
    padding: 30px 20px;
    max-width: 70vw;


    .aboutAppDescription {
      font-size: 18px;
    }

    .titleHow {
      color: $primary;
      font-size: 28px;
    }

    .how {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;


      .column {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 10px;
        width: 230px;

        img {
          width: 200px;
        }
      }
    }

    .creators {
      margin-top: 50px;

      p {
        color: $primary;
        text-align: center;
        font-weight: bolder;
        font-family: 'Nunito', sans-serif;
      }

      .links {
        display: flex;

        a {
          text-decoration: none;
          color: rgba(44, 49, 109, 0.97);
          font-weight: $textColor;

          &:hover {
            color: $primary;
          }
        }

        .linkColumn {
          display: flex;
          flex-direction: column;
          margin: 5px;
        }
      }
    }
  }
}



