
.box {
    display: flex;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
}


.child_box1 {
    font-size: 500%;
    color: #dcd9d9;
}

.child_box2 {
    color: #dcd9d9;
    font-size: 200%;
    max-width: 500px;
}

.child_box3 {
    font-size: 150%;
    color: #dcd9d9;
    max-width: 550px;
}


