@import 'src/ui/common/styles/variables';

.shadowPaper {
  background-color: $secondBGC;
  border: 1px solid $borderColor;
  position: relative;

  &:before,
  &:after {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
  }

  &[data-z="paper"]:before,
  &[data-hover-z="paper"]:hover:before {
    box-shadow: none;
  }

  &[data-z="paper"]:after,
  &[data-hover-z="paper"]:hover:after {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
  }
  &[data-z="paper-1"]:before,
  &[data-hover-z="paper-1"]:hover:before {
    box-shadow: none;
  }
  &[data-z="paper-1"]:after,
  &[data-hover-z="paper-1"]:hover:after {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  }
  &[data-animated]:before,
  &[data-animated]:after {
    -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.relative {
  position: relative !important;
}
