@mixin block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $mainBGC;
}

@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
}
@mixin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  .inputField {
    margin-bottom: 20px;
  }
}