$primary: #42A5F5;
$default: #EFEFEF;
$success: #4CAF50;
$warning: #F0AD4E;
$inverse: #424242;
$danger: #BD362F;
$mainBGC: #F5F5F5;
$secondBGC: #FFFFFF;
$textColor: #444444;
$secondTextColor: #757575;
$borderColor: #E2E9E6;


