@import 'src/ui/common/styles/variables';

.inputWrapper {
  position: relative;
  width: 100%;
  color: $textColor;

  .superInput, .errorInput {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f7f7f7;
    background-image: none;
    border: 1px solid #efefef;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-weight: bold;
    &::-webkit-input-placeholder { /* WebKit browsers */
      color: rgba(117, 117, 117, 0.56);
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: rgba(117, 117, 117, 0.56);
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: rgba(117, 117, 117, 0.56);
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: rgba(117, 117, 117, 0.56);
    }
  }

  .superInput {
    &:focus {
      border-color: #dfdfdf;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(223, 223, 223, 0.6);
    }

    &.errorInput {
      border-color: rgba(200, 53, 53, 0.58);
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(223, 223, 223, 0.6);
    }
  }

  .errorInput:focus {
    transition: all .3s ease;


  }

  .error {
    min-width: 150px;
    background-color: #BE4B49;
    border-color: #9C3735;
    display: inline-block;
    vertical-align: top;
    top: 3px;
    left: 105%;
    padding: 5px 10px;
    color: #ffffff;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(200, 53, 53, .5);
    word-wrap: break-word;
    font-size: 12px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #BE4B49;
      position: absolute;
      top: 10px;
      left: -5px;
      transform-origin: 50% 50%;
      transform: rotate(45deg);
      box-shadow: 0 0 5px rgba(200, 53, 53, .5);

    }

  }
}



