@import 'src/ui/common/styles/variables';

.block {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  td {
    span {
      color: $primary;
      font-Weight: bold;
      font-size: 16px;
    }
  }
}