
.range {
    width: 100%;
    margin: 3px;
}

.range_min {
    position: relative;
}
.range_max {
    position: relative;
}

.minValueCount, .maxValueCount {
    position: absolute;
    color: #42A5F5;
    font-size: 11px;
    font-weight: bold;
    background-color: #E2E9E6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    top: -17px;
}

.minValueCount {
    left: -30px;
}
.maxValueCount {
    right: -30px;
}

.searchButton {
    margin-top: 10px;
    margin-left: 40px;
}

.slider {
    height: 8px;
    border-radius: 8px;
    background: #dad7d7;
    position: relative;
}

.range_input {
    position: relative;
}

.range_input input {
    position: absolute;
    top: -10px;
    left: -2px;
    height: 8px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: rgb(66,165,245);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: rgb(66,165,245);
}