.ratingBlock {
  display: flex;

  .starWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px;

    .starIconSolid {
      svg {
        fill: #F7A002;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        transition: all .3s ease;

        &:hover {
          cursor: pointer;
          transform: scaleX(1.25) scaleY(1.25);
          transition: all .3s ease;
        }
      }
    }
  }
}