.ratingBlock {
  display: flex;

  .starWrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    .starIconSolid {
      position: relative;
      transition: all .3s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.25, 1.25);
        transition: all .3s ease;

        &:focus {
          transform: scale(1, 1);
          transition: all .3s ease;
        }
      }

      &:before {
        content: '';
        background-color: #F7A002;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -5px;
        left: -10px;
        width: 50px;
        height: 50px;
        transform: scale(0.001, 0.001);
      }

      &:focus {
        &:before {
          animation: effect_dylan 0.8s ease-out;
        }
      }

      .solid {
        fill: #F7A002;
        width: 80%;
        height: 80%;
        margin-top: 5px;
        transition: all .3s ease;
      }
      .regular {
        @extend .solid;
        fill: #BDBDBD;
      }
    }
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}