.cardsBlock {
    display: flex;
    justify-content: center;
}

.cardsContainer {
    display: flex;
    border-radius: 4px;
    background: rgba(254, 255, 232, 0.49);;
    min-height: 550px;
    width: 920px;
    box-shadow: 0 4px 12px rgba(172, 170, 170, 0.82);

}

.contentBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.searchBlock {
    margin: 15px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}
.inputs {
    display: flex;
}

.tableBlock {
    height: 100%;
}

.tableHeader {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.paginationBlock {
    margin: 10px;
    height: 30px;
}

.question {
    width: 250px;
    cursor: pointer;
}

.answer {
    width: 250px;
    cursor: pointer;
}

.updated {
    width: 120px;
    cursor: pointer;
}

.grade {
    width: 40px;
}

.actions {
    text-align: center;
    width: 180px;
}

