@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.cardsWrapper {
  background-color: $mainBGC;
  min-height: calc(100vh - 63px);
  padding: 10px 40px;

  .cardsContainer {
    .titleBlock {
      padding-top: 5px;
      display: flex;
      align-items: center;

      .backIcon {
        width: 70px;
        font-size: 30px;
        transition: all .3s ease;
        color: $primary;

        &:hover {
          transition: all .3s ease;
          color: #0075C2;
          cursor: pointer;
        }
      }

      span {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .settingsBlock {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 15px;
      font-size: 14px;

      h4 {
        margin: 0 10px 0 0;
      }

      .radioBlock {
        display: flex;
        align-items: center;

        label {
          font-size: 13px;
        }

      }

      .inputBlock {
        display: flex;
        align-items: center;
        width: calc(90vw - 500px);
        min-width: 200px;

        span {
          font-weight: bold;
        }

        .input {
        }

      }

      .button {
        margin-left: auto;

        .primaryButton {
          background-color: $primary;
          color: #ffffff;

          &:hover {
            background-color: #128EF2;
          }
        }
      }
    }

    .tableBlock {
      margin-top: 20px;

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 0;

        thead {
          tr {
            th {
              color: $primary;
              font-size: 15px;
              text-align: left;
              padding: 0 15px 10px 15px;
              border-bottom: 2px solid $borderColor;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .paginationBlock {
      margin: 20px 0;
    }
  }
}

.modalBlock {

  h4 {
    color: $primary;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  p {
    font-weight: bold;
  }

  .questionInputBlock {
    width: 300px;
  }

  .answerTextareaBlock {
    min-height: 150px;
    resize: vertical;
  }
  button {
    margin-top: 10px;
    font-size: 13px;
  }
}


