@import 'src/ui/common/styles/variables';
@import 'src/ui/common/styles/mixins';

.lRadio {
    padding: 6px;
    border-radius: 50px;
    display: inline-flex;
    cursor: pointer;
    transition: background .2s ease;
    margin: 8px 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

.lRadio:hover, .lRadio:focus-within {
    background: rgba(159, 159, 159, 0.1);
}

.lRadio input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 1.5px #9F9F9F;
    appearance: none;
    padding: 0;
    margin: 0;
    transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
    pointer-events: none;
}

.lRadio input:focus {
    outline: none;
}

.lRadio input:checked {
    box-shadow: inset 0 0 0 6px $primary;
}

.lRadio span {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
}